/* input[type=submit]{
	background-color: #348feb;
	border: none;
	color: white;
	line-height: 30px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 5px;
} */

 input[type=text]{
	width: 300px;
	margin-right: 5px;
	/* height: 30px;
	padding: 0px 0px;
	font-size: 100%; */
} 
