p{
	border: 2px;
	text-align: left;
	border-style: solid;
	width: 500px;
	height: 30px;
	font-size: 100%;
	margin-left: auto;
	margin-right: auto;
}

input[type=button]{
	background-color: transparent;
	border: none;
}

button.link {
	 background:none;
	  border:none; 
}

.Button{
	background-color: transparent;
	border: none;
}


.item-button-group{
	float:right;
	margin-right: 5px;
}