.item-display-group{
	border: 2px;
	border-style: solid;
	width: 500px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}


 button.link {
	background:none;
	float: left;
	border:none; 
} 


.Button{
	background-color: transparent;
	border: none;
}


.item-button-group{
	float: right;
	margin-right: 5px;
}